{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_attendance/dropdown

    This template renders action menu for a given session.
    Example context (json):
    {
        "studentpassword": "<a class="dropdown-item" aria-label="Password / QR code" role="menuitem" href="mod/attendance/password.php?session=4">Password / QR code</a>"
        "take": "<a class="dropdown-item" aria-label="Take attendance" role="menuitem" href="mod/attendance/take.php?id=4&amp;sessionid=4&amp;grouptype=0">Take attendance</a>"
        "editsession": "<a class="dropdown-item" aria-label="Edit Session" role="menuitem" href="mod/attendance/sessions.php?id=4&amp;sessionid=4&amp;action=2">Edit Session</a>"
        "deletesession": "<a class="dropdown-item" aria-label="Delete session" role="menuitem" href="mod/attendance/sessions.php?id=4&amp;sessionid=4&amp;action=3">Delete session</a>"
    }
}}
<div class="action-menu moodle-actionmenu" data-collapse="menu">
    <div class="dropdown">
        <button class="btn btn-link btn-icon icon-size-3"
            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                {{#databoundary}}data-boundary="{{databoundary}}"{{/databoundary}}
                {{#datatype}}data-type="{{datatype}}"{{/datatype}}
                {{#dataid}}data-id="{{dataid}}"{{/dataid}}>
            <i class="icon fa fa-ellipsis-h fa-fw m-0" title="{{#str}} sessionactions, mod_attendance {{/str}}" aria-hidden="true"></i>
            <span class="sr-only">{{#str}} sessionactions, mod_attendance {{/str}}</span>
        </button>

        <div role="menu" class="dropdown-menu">
            {{#studentpassword}}{{{studentpassword}}}{{/studentpassword}}
            {{#take}}{{{take}}}{{/take}}
            {{#editsession}}{{{editsession}}}{{/editsession}}
            {{#deletesession}}{{{deletesession}}}{{/deletesession}}
        </div>
    </div>
</div>
